@using WebMatrix.Data;
@{
    ViewBag.Title = "Panier";
    ViewBag.Message = "Votre Panier contient " + ViewBag.nbItemsPanier + " produits";
}

<div class="jumbotron">
    <h1>Votre Panier</h1>
    <p class="lead">Liste des produits</p>
</div>
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<ul id="listeProduits" style="flex-direction:column">
    <li style="flex-direction:row;justify-content:space-around; display:flex">
        <span style="flex:auto">
            [Information]
        </span>
        <span style="flex:auto">
            [Prix]
        </span>
        <span style="flex:auto">
            [Quantite]
        </span>
        <span style="flex:auto">
            <input class="text-form" type="button" value="Supprimer" />
        </span>
    </li>
</ul>

@{
    var DB = Database.Open("mysqlConnexionString");
    var Grid = new WebGrid(DB.Query("SELECT * FROM panier"));
}
@Grid.GetHtml(
            tableStyle: "webgrid",
            mode: WebGridPagerModes.All,
            columns: Grid.Columns(
                        Grid.Column("Information", "Item"),
                        Grid.Column("Prix", "Prix"),
                        Grid.Column("Quantite", "Quantite"),
                        Grid.Column(" ", format: @<text>
                            @*<button class="btn-xs" style:color="blue" onclick="@("window.location.href='" + @Url.Action("Voiture", "Voiture", Grid.SelectedRow.Value.IdVoiture) + "'");">Ajouter au panier</button>*@
                            <input type="button" value="Supprimer" onclick="location.href='@Url.Action("Supprimer", "Panier",  new {idItem = item.IdPanier})'" />
                        </text>)
            )
        )


