@using WebMatrix.Data;
@{
    ViewBag.Title = "Forfait";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<div class="jumbotron">
<h1>Forfaits</h1>
<p class="lead">Liste des forfaits</p>
</div>

<ul id="listeForfaits" style="flex-direction:column">
    <li style="flex-direction:row;justify-content:space-around; display:flex">
        <span style="flex:auto">
            Information du forfait
        </span>
        <span style="flex:auto">
            Prix du forfait
        </span>
        <span style="flex:auto">
            <input class="text-form" type="text" value="Nombre de billets supp. désirés" />
        </span>
        <span style="flex:auto">
            <input class="text-form" type="button" value="Ajouter au panier" />
        </span>
    </li>
</ul>
@{
    var DB = Database.Open("mysqlConnexionString");
    var Grid = new WebGrid(DB.Query("SELECT * FROM forfait"));
}
@Grid.GetHtml(
            tableStyle: "webgrid4",
            mode: WebGridPagerModes.All,
            columns: Grid.Columns(
             Grid.Column("IdChambre", "ID Chambre"),
                        Grid.Column("IdVoiture", "ID Voiture"),
                        Grid.Column("IdSiege", "ID Siege"),
                        Grid.Column("TarifReduit", "Tarif Reduit"),
                        Grid.Column(" ", format: @<text>
                            <button class="btn-xs" style:color="blue">Appliquer</button>
                        </text>)
            )
        )

