@{
    ViewBag.Title = "Voyage Ahuntsic";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<link href="~/Content/Contact.css" rel="stylesheet" media="all" type="text/css">
<p>
    <br />
    Voyage Ahuntsic est une entreprise qui offre des services de voyages au entreprises et au particuliers. <br />
    Nos services incluent : Vols, Hotels, Location de voitures, Forfaits, etc. <br />
    <br />
    L'entreprise negocie avec plusieurs fournisseurs : e.g: Compagnie Aeriennes, Fournisseurs de voitures de locaations, etc. pour pouvoir offrir a ses clients <br />
    un service de qualitee superieure, ainsi que des forfait imbattables!
</p>
