@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9155, rue St-Hubert<br />
    Montreal(Quebec), H2M 1Y8<br />
    <abbr title="Telephone">Tel:</abbr>
    514.555.6666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support-VoyageAhuntsic@outlook.com">Support-VoyageAhuntsic@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Support-VoyageAhuntsic@outlook.com">Marketing-VoyageAhuntsic@outlook.com</a>
</address>