@{ /*TEMPORAIRE*/}
@using Prj_Final_2017_.DTO;
@using Prj_Final_2017_.Models.util; 
@{
    ViewBag.Title = "Home Page";
    //TEMPORAIRE
    Session["user"] = ApplicationFunctions.CompteParticulierFacade.Read(1);
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<div class="jumbotron">
    <h1>Voyage Ahuntsic</h1>
    <p class="lead">Voyage Ahuntsic est une entreprise qui offre des services de voyages touristiques aux entreprises et aux particuliers.</p>
    <p class="lead">Nos services incluent : Vols, Hotels, Location de voitures et plusieurs forfaits.</p>
    <p><a href="About" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>

<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <h2>Voitures</h2>
        <p>
            <img src="~/Content/image1.jpg" name="hotel" width="186" height="186">
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Venez Voir ", "Voiture", "Voiture") </p>
    </div>
    <div class="col-md-4">
        <h2>Hôtels</h2>
        <p>
            <img src="~/Content/image2.jpg" name="hotel" width="186" height="186">
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Venez Voir ", "Index", "Hotel") </p>
    </div>
    <div class="col-md-4">
        <h2>Vols d'avions</h2>
        <p>
            <img src="~/Content/image3.jpg" name="hotel" width="186" height="186">
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Venez Voir ", "Vol", "Vol") </p>
    </div>
    <div class="col-md-4">
        <h2>Nos Forfaits</h2>
        <p>
            <img src="~/Content/image4.jpg" name="hotel" width="186" height="186">
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Venez Voir ","Forfait", "Forfait")</p>
    </div>
</div>