@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<div class="jumbotron" id="jumbotron">
    <h1>Voyage Ahuntsic</h1>
    <p class="lead">Voyage Ahuntsic est une entreprise qui offre des services de voyages touristiques aux entreprises et aux particuliers.</p>
    <p class="lead">Nos services incluent : Vols, Hotels, Location de voitures et plusieurs forfaits.</p>
    <p><a href="About" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>

<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <h2>Voitures</h2>
        <p>
           [INSERER IMAGE ICI]
        </p>
        <p><a class="btn btn-default" href="#">Venez voir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hôtels</h2>
        <p>
            [INSERER IMAGE ICI]
        </p>
        <p><a class="btn btn-default" href="#">Venez voir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vols d'avions</h2>
        <p>
            [INSERER IMAGE ICI]
        </p>
        <p><a class="btn btn-default" href="#">Venez voir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nos Forfaits</h2>
        <p>
            [INSERER IMAGE ICI]
        </p>
        <p><a class="btn btn-default" href="#">Venez voir &raquo;</a></p>
    </div>
</div>