@using WebMatrix.Data;
@{
    ViewBag.Title = "Voiture";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<form action="" method="get">
    <fieldset> 
        <div class="jumbotron">
            <h1>Voiture</h1>
        </div>
        <h2>Veuillez entrer des informations pour la voiture désiré</h2>
        <select id="TypeVoiture" name="TypeVoiture" onchange=" ">
            <option value="">Type de voiture</option>
            <option value="0">2/4 portes</option>
            <option value="1">4/5 portes</option>
            <option value="2">Limousine</option>
            <option value="3">Break</option>
            <option value="4">Minibus</option>
            <option value="5">Sport</option>
        </select>

        <select id="NomAgence" name="NomAgence">
            <option value="">Nom de l'agence</option>
            <option value="0">Enterprise</option>
            <option value="1">AutoXpress</option>
            <option value="2">CarNow</option>
            <option value="3">LocAuto</option>
        </select>
        <p><input type="submit" value="Submit"/> </p>
        @{ 
        <p class="lead">Liste de voiture</p>
            string IdVoiture = Request.QueryString["IdVoiture"];

            var DB = Database.Open("mysqlConnexionString");
            var Grid = new WebGrid(DB.Query("SELECT * FROM voiture"));
        }
        @Grid.GetHtml(
         tableStyle: "webgrid1",
         mode: WebGridPagerModes.All,
         columns: Grid.Columns(
                     Grid.Column("Nom", "Modèles"),
                     Grid.Column("Type", "Type"),
                     Grid.Column("IdAgence", "Nom de l'agence"),
                     Grid.Column("NbPassager", "Nombre Passager"),
                     Grid.Column("Plaque", "Plaque"),
                     Grid.Column("Tarif", "Tarif"),
                     Grid.Column(" ", format: @<text>
                            <button class="btn-xs" style:color="blue">Ajouter au panier</button>
                        </text>)
         )
     )
    </fieldset>
</form>