
@{
    ViewBag.Title = "comptefournisseursiege";
}

<h2>comptefournisseursiege</h2>

<html>

CompteFournisseurSiege
<body>
    <form action="/CompteFournisseurSiege/Create" method="post">
        idFournisseur:<br>
        <input type="text" name="idFournisseur" value="">
        <br>
        courriel:<br>
        <input type="text" name="courriel" value="">
        <br><br>
        password:<br>
        <input type="text" name="password" value="">
        <br><br>
        idCompagnieAerienne:<br>
        <input type="text" name="idCompagnieAerienne" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>

