
@{
    ViewBag.Title = "View";
}

<h2>View</h2>



CompteFournisseurChambre                                                  

    <form action="/CompteFournisseurChambre/Create" method="post">        
        idFournisseur:<br>
        <input type="text" name="idFournisseur" value="">
        <br>
        courriel:<br>
        <input type="text" name="courriel" value="">
        <br><br>
        password:<br>
        <input type="text" name="password" value="">
        <br><br>
        idhotel:<br>
        <input type="text" name="idhotel" value="">
        <br><br>
        Creation d'hotel<br>
        idhotel:<br>
        <input type="text" name="idhotel1" value="">
        <br>
        nom:<br>
        <input type="text" name="nom" value="">
        <br><br>
        telephone:<br>
        <input type="text" name="telephone" value="">
        <br><br>
        adresse:<br>
        <input type="text" name="adresse" value="">
        <br><br>
        ville:<br>
        <input type="text" name="ville" value="">
        <br><br>
        categorie:<br>
        <input type="text" name="categorie" value="">
        <br><br>
        description:<br>
        <input type="text" name="description" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>




