
@{
    ViewBag.Title = "Vol";
}

<div class="jumbotron">
    <h1>Vols</h1>
    <p class="lead">Liste des vols</p>
    <div class="form-group">

        <div class="radio-inline">

            @Html.RadioButton("siege", "Hublot", true,

          new { id = "Hublot" }) Hublot

        </div>

        <div class="radio-inline">

            @Html.RadioButton("siege", "Allee",

           new { id = "Allee" }) Allée

        </div>

        <div class="radio-inline">

            @Html.RadioButton("siege", "PeuImporte",

           new { id = "PeuImporte" }) Peu Importe

        </div>

    </div>
</div>

<ul id="listeVols" style="flex-direction:column" >
    <li style="flex-direction:row;justify-content:space-around; display:flex" >
       <span style="flex:auto">
           Information du vol
       </span>
        <span style="flex:auto">
            Prix du billet
        </span>
        <span style="flex:auto">
            <input class="text-form" type="text" value="Nombre de billets désirés"/>     
        </span>
        <span style="flex:auto">
            <input class="text-form" type="button" value="Ajouter au panier" />
        </span>
    </li>
</ul>


