@using WebMatrix.Data;
@{
    ViewBag.Title = "Vol";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<div class="jumbotron">
    <h1>Vols</h1>
    <p class="lead">Liste des vols</p>
    <div class="form-group">

        <div class="radio-inline">

            @Html.RadioButton("siege", "Hublot", true,

          new { id = "Hublot" }) Hublot

        </div>

        <div class="radio-inline">

            @Html.RadioButton("siege", "Allee",

           new { id = "Allee" }) Allée

        </div>

        <div class="radio-inline">

            @Html.RadioButton("siege", "PeuImporte",

           new { id = "PeuImporte" }) Peu Importe

        </div>

    </div>
</div>

<ul id="listeVols" style="flex-direction:column">
    <li style="flex-direction:row;justify-content:space-around; display:flex">
        <span style="flex:auto">
            Information du vol
        </span>
        <span style="flex:auto">
            Prix du billet
        </span>
        <span style="flex:auto">
            <input class="text-form" type="text" value="Nombre de billets désirés" />
        </span>
        <span style="flex:auto">
            <input class="text-form" type="button" value="Ajouter au panier" />
            <br /><br />
        </span>
    </li>
</ul>

@{
            var DB = Database.Open("mysqlConnexionString");
            var Grid = new WebGrid(DB.Query("SELECT * FROM vol"));
}
@Grid.GetHtml(
            tableStyle: "webgrid2",
            mode: WebGridPagerModes.All,
            columns: Grid.Columns(
                        Grid.Column("AeroportDepart", "Aeroport Depart"),
                        Grid.Column("AeroportDestination", "Aeroport Destination"),
                        Grid.Column("VilleDepart", "Ville Depart"),
                        Grid.Column("VilleDestination", "Ville Destination"),
                        Grid.Column("DateDepart", "Date Depart"),
                        Grid.Column("DateArrivee", "Date Arrivee"),
                        Grid.Column("IdCompagnieAerienne", "Date Arrivee"),
                        Grid.Column("IsRemboursable", "Remboursable"),
                        Grid.Column("Tarif", "Tarif"),
                        Grid.Column(" ", format: @<text>
                            <button class="btn-xs" style:color="blue">Voir sieges disponibles</button>
                        </text>)
            )
        )



