
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<label>Nom:</label><p>Nom</p>
<label>Prénom:</label><p>Prénom</p>
<label>Adresse courriel:</label><p>Adresse courriel</p>
<input type="submit" value="Modifier">

