
@{
    ViewBag.Title = "Profil";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<h1>Profil</h1>

<label>Nom:</label><p>Nom</p>
<label>Prénom:</label><p>Prénom</p>
<label>Adresse courriel:</label><p>Adresse courriel</p>
<input type="submit" value="Modifier">

