body {
 font-family: Verdana, sans-serif;
 font-size: 130%;
}
h1 {
 font-weight: bold;
 text-align: center;
}
.jumbotron 
{
    width:100%;
    height:auto;
    background-color: #bdbbba;
}
.webgrid{
    font-size:15pt;
    width:110%;
}