@using WebMatrix.Data;
@{
    ViewBag.Title = "Siege";
    ViewBag.Description =
        @"";
}
<link href="~/Content/StylePrincipal.css" rel="stylesheet" media="all" type="text/css">
<div class="jumbotron">
    <h1>Sieges pour le vol</h1>
    <p class="lead">@ViewBag.Description</p>
</div>
<p class="lead">Liste des sieges</p>
@{
    String IdVol = ViewBag.IdVol;
    var DB = Database.Open("mysqlConnexionString");
    var Grid = new WebGrid(DB.Query("SELECT * FROM siege WHERE IdVol = " + IdVol));
}
@Grid.GetHtml(
            tableStyle: "webgrid",
            mode: WebGridPagerModes.All,
            columns: Grid.Columns(
             Grid.Column(" ", format: @<text>
                    <button class="btn-xs" style:color="blue">Détail</button></text>),
                        Grid.Column("Type", "Type"),
                        Grid.Column("Numero", "Numero"),
                        Grid.Column("IdVol", "ID Vol"),
                        @*Grid.Column(" ", format: @<text>
                            <button class="btn-xs" style:color="blue">Ajouter au panier</button>
                            </text>)*@
                        Grid.Column(format: (item) => Html.ActionLink("Réserver", "Reserver", "Siege", new { id = item.IdSiege }, null), style: "column-action")
            )
        )


