@using Prj_Final_2017_.DTO;
@using Prj_Final_2017_.Models.util;
@{
    ViewBag.Title = "Reserver";
}

<h2>@ViewBag.Title</h2>

<form id="formReservation" action="/Siege/Reserver/@ViewBag.IdSiege" method="post">
    <p>Veuillez confirmer les dates pour lesquelles vous voulez réserver ce siege</p>
    <div style="display:inline-block;">
        <label class="label label-default" for="dateDebut">Date Début</label>
        <br />
        <input class="form-control" id="dateDebut" name="dateDebut" type="date" style="width: 180px" placeholder="aaaa-mm-jj" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
    </div>
    <div style="display:inline-block;">
        <label class="label label-default" for="dateFin">Date Fin</label>
        <br />
        <input class="form-control" id="dateFin" name="dateFin" type="date" style="width: 180px" placeholder="aaaa-mm-jj" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
    </div>
    <input class="btn btn-primary" type="submit" id="btnSubmit" value="Ajouter au panier" /><br /><br />
    <a href="/Siege/PourVol/@ViewBag.IdVol" class="btn btn-default btn-xs" aria-label="Left Align" style="width:65px; margin-top:3px;">
        Retour
    </a>
</form>


