
@{
    ViewBag.Title = "comptefournisseurvoiture";
}

<h2>comptefournisseurvoiture</h2>

<html>

CompteFournisseurVoiture
<body>
<form action="/CompteFournisseurVoiture/Create" method="post">
    idFournisseur:<br>
    <input type="text" name="idFournisseur" value="">
    <br>
    courriel:<br>
    <input type="text" name="courriel" value="">
    <br><br>
    password:<br>
    <input type="text" name="password" value="">
    <br><br>
    idAgenceVoiture:<br>
    <input type="text" name="idAgenceVoiture" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>
